@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,900");

#content {
		margin-top: 80px;
}

#header {
		font-family: 'Source Sans Pro', Helvetica, sans-serif;
		font-size: 15px;
		background: #393a47;
		color: #e2e2e1;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
	}

		#header h1 {
			height: inherit;
			left: 18.3333339691162px;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

			#header h1 a {
				font-family: 'Source Sans Pro', Helvetica, sans-serif;
				font-size: 18px;
				font-weight: 900;
				letter-spacing: 0.733333349227905px;
				text-transform: uppercase;
				text-decoration: none;
				color: #fff !important;
			}

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 1.25em;
			top: 0;
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					display: inline-block;
					margin-left: 3em;
					padding-left: 0;
				}

					#header nav > ul > li > ul {
						display: none;
					}

					#header nav > ul > li a {
						color: #fff !important;
						display: inline-block;
						font-weight: 900;
						letter-spacing: 0.05em;
						text-decoration: none;
						text-indent: -0.05em;
						text-transform: uppercase;
					}

						#header nav > ul > li a.icon:before {
							margin-right: 0.75em;
							opacity: 0.5;
						}

					#header nav > ul > li.active > a {
						color: #fff;
					}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li .button {
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1.25em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}