extends layout

block content
  .row
    .panel.panel-danger
      .panel-heading
        h3.panel-title Warning
      .panel-body
        p This is an <b>experimental</b>, <b>highly unstable environment</b>. We upgrade aggressively and do not save configuration in persistence storage yet. Use it to get familiar with iFLUX APIs, but don't rely on it for real applications. If you take the time to configure rules, <b>script or archive your HTTP requests</b> so that you can resend them after a new deployment. Watch this space for up-to-date information.
  .row
    .panel.panel-info
      .panel-heading
        h3.panel-title Status
      .panel-body
        p There are currently <b>#{rules.length} rules</b> defined on this server:
        ul
          each rule in rules
            li [Enabled: #{rule.enabled}] #{rule.description}

  .row
    .panel.panel-info
      .panel-heading
        h3.panel-title Configure rules with the editor
      .panel-body
        | Use
        a(href='/rule-editor') our online editor
        |  to create JSON payloads that you can then POST to the <code>/rules</code> endpoint.

  .row
    .panel.panel-info
      .panel-heading
        h3.panel-title Access the REST endpoints
      .panel-body
        ul
          li
            | <b>GET</b> the rules at the
            a(href='/rules') <code>/rules</code>
            |  endpoint.
          li <b>POST</b> a new rule at the <code>/rules</code> endpoint
          li <b>POST</b> a new event at the <code>/events</code> endpoint

